<!DOCTYPE html>
<html>
  <head>
    <title>My Application</title>
    <link rel="stylesheet" type="text/css" href="/notFoundPage/style.css" />
  </head>
  <body>
    <header>
      <h1>Medicss</h1>
    </header>
    <main>
      <h2>Page Not Found</h2>
      <p>The page you are looking for could not be found. Please try again.</p>
    </main>
    <footer>
      <p>&copy; 2023 My Application</p>
    </footer>
  </body>
</html>
