<nav class="navbar-container">
  <div class="profile-container">
    <div class="burger-icon">
      <img class="burger" src="/assets/fries-menu.png" width="50" height="50" />
    </div>
    <div class="profile-img-overlay"><div>img</div></div>
  </div>
  <div class="menu-container">
    <ul class="menu-list">
      <a href="/DashBoard" class="menu-item">DashBoard</a>
      <a href="/mySpace" class="menu-item">My Space</a>
      <a href="/Medics" class="menu-item">Medics</a>
    </ul>
  </div>
</nav>
<nav class="hidden-nav nav-hidden">
  <img class="burger" src="/assets/fries-menu.png" width="50" height="50" />
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".burger").on("click", function () {
      $(".navbar-container").toggleClass("nav-hidden");
      $(".hidden-nav").toggleClass("nav-hidden");
    });
  });
</script>
